@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.list:after,
.list:before {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
  display: table;
}
.list {
  height: 300px;
  padding: 10px 20px;
}
.list ul {
  width: 100%;
  list-style: none;
  float: left;
}
.list li {
  float: left;
  width: 33.333%;
  height: 260px;
  position: relative;
  -webkit-transition: all ease .32s;
  transition: all ease .32s;
  background: url(../img/mask1.png) no-repeat;
  background-position: center 300px;
  text-align: center;
  overflow: hidden;
  padding-top: 38px;
}
.list li:hover {
  background-position: center 0;
  color: #fff;
}
.list li:hover ._more {
  top: 0;
  border-color: #fff;
  color: #fff;
}
.list li:hover .p {
  color: #fff;
}
.list li:hover .icon1 {
  margin-top: -120px;
  margin-bottom: 48px;
}
.list .icon {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background: url(../img/busi-icon.png) no-repeat;
  -webkit-transition: all ease .32s;
  transition: all ease .32s;
}
.list .icon1 {
  background-position: 0 0;
}
.list .icon2 {
  background-position: -70px 0;
}
.list .icon3 {
  background-position: -140px 0;
}
.list .h {
  margin: 0 3em;
  display: block;
  height: 50px;
  line-height: 50px;
}
.list .p {
  color: #666;
  width: 238px;
  margin: 0 auto 30px;
}
.list ._more {
  position: relative;
  display: block;
  width: 196px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #000;
  color: #000;
  margin: 0 auto;
  top: 100px;
  font-size: 14px;
  -webkit-transition: all ease .32s;
  transition: all ease .32s;
}
.list ._more:hover {
  /*background:#fff;*/
  font-size: 16px;
  color: #e87232;
}
/**************************************************************/
.list2 {
  height: 350px;
}
.list2 ul {
  height: 100%;
  list-style: none;
}
.list2 li {
  width: 290px;
  height: 100%;
  float: left;
  margin-left: 10px;
  position: relative;
}
.list2 li:hover .con {
  top: 0;
  color: #fff;
  text-align: center;
  background: #ee9565;
  background: rgba(232, 114, 50, 0.7);
  height: 100%;
}
.list2 .img {
  width: 100%;
  height: 65%;
  background: url("../img/20150601084527535.jpg") no-repeat;
}
.list2 .con {
  width: 100%;
  height: 35%;
  position: absolute;
  left: 0;
  top: 240px;
  -webkit-transition: all ease .32s;
  transition: all ease .32s;
}
.list2 .con .title {
  padding: 20px 10px;
}
.list2 .con .desc {
  padding: 5px 10px;
}
.list2 .con ._more1 {
  display: block;
  width: 196px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  margin: 0 auto;
  font-size: 14px;
}
