@charset "utf-8";


.section4{
    width: 1160px;
    height: 582px;
    position: relative;
    margin: 36px auto;
    clear: both;
}
.section4 .left{
    width: 880px;
    float: left;
}
.section4 .right{
    width: 260px;
    float: right;
}




.section4 .left .header{
    width: 880px;
    margin-bottom: 10px;
    overflow: hidden;
}
.section4 .left .header b{
    font-size: 18px;
    font-weight: bold;
    color: #122;
    float: left;
    line-height: 40px;
    display: inline-block;
    margin: 0px 16px;
    font-family: 微软雅黑;
}
.section4 .left .header span{
    color: #999;
    float: left;
    line-height: 40px;
    font-size: 12px;
    display: inline-block;
    font-family: 微软雅黑;
}
.section4 .left .header .right{
    width: 310px;
    height: 24px;
    margin-top: 10px;
}

.section4 .left .header .right{
    width: 50px;
    height: 24px;
    text-indent: 12px;
    cursor: pointer;
    color: #fd4c5d;
}

.section4 .left .header .right  p{
    line-height: 24px;
    font-size: 12px;
    font-family: 微软雅黑;
}
.section4 .left .header .right  p:hover{
    color: #fd4c5d;
}





.section4 .left .block{
    width: 875px;
    height: 530px;
    background: #fafafa;
    border: 1px solid #f0f0f0;
    overflow: hidden;
    margin: 0 2px;
    border-radius: 3px;
    position: relative;
}
.section4 .left .block .timeblock{
    height: 530px;
    float: left;
    width: 124px;
    border-right: 1px solid #f0f0f0;
    position: relative;
    z-index: 2;
}
.section4 .left .block .timeblock h6 {
    padding: 0 6px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    font-family: 微软雅黑;
    font-weight: normal;
}
.section4 .left .block .timeblock ul li {
    padding: 4px 14px 0 14px;
    line-height: 18px;
    height: 56px;
    list-style: none;
}
.section4 .left .block .timeblock ul li b{
    font-family: 微软雅黑;
    font-size: 12px;
    font-weight: normal;
    color: black;
}
.section4 .left .block .timeblock ul li p{
    font-family: 微软雅黑;
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.section4 .left .block .timeblock ul li a:hover b{
    color: #fd4c5d;
}
.section4 .left .block .timeblock ul li.has-img {
    padding: 0;
    height: 136px;
}
.section4 .left .block .timeblock ul li.has-img b, .timeblock ul li.has-img p {
    padding: 0 14px;
    font-family: 微软雅黑;
    font-size: 12px;
    font-weight: normal;
    color: black;
}
.section4 .left .block .timeblock ul li p.red-style {
    color: #fd4c5d;
}











.section4 .right{
    width: 260px;
}
.section4 .right .header{
    height: 40px;
    width: 260px;
    margin-bottom: 10px;
}
.section4 .right .header h3{
    font-family: 微软雅黑;
    line-height: 40px;
}
.section4 .right .pic-box{
    margin-bottom: 20px;
}